# Порт, на якому працює бекенд
PORT=5000

# Рядок підключення до бази даних (для локального запуску через Docker)
DATABASE_URL="postgresql://admin:adminpassword@localhost:5432/cleaning_ais_db?schema=public"

# Рядок підключення (якщо бекенд і база працюють всередині єдиної мережі docker-compose)
# DATABASE_URL="postgresql://admin:adminpassword@postgres:5432/cleaning_ais_db?schema=public"